	<footer>
		<div class="footer-info">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12">
						<div class="footer-info-text">
							<h5>Nunc eget ipsum semper</h5>
							<p>In rhoncus venenatis ex vitae porta. Nam lacinia, sapien vitae porttitor rutrum, purus mauris pellentesque neque, quis scelerisque est enim quis diam</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="footer-links">
							<h5>Company</h5>
							<ul>
								<li><a href="#">Overview</a></li>
								<li><a href="#">Our team</a></li>
								<li><a href="#">Our Partners</a></li>
								<li><a href="#">Our Service</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">						
						<div class="footer-news-wrapper">
							<h5>Latest articles</h5>
							<div class="footer-news-single">
								<div class="footer-news-img">
									<img src="/images/example 1.jpeg" alt="" />
								</div>
								<div class="footer-news-text">
									<div class="footer-news-title">Morbi rutrum diam eu enim egestas</div>
									<div class="footer-news-date">Sep 24, 2018</div>
								</div>
							</div>
							<div class="footer-news-single">
								<div class="footer-news-img">
									<img src="/images/example 2.jpeg" alt="" />
								</div>
								<div class="footer-news-text">
									<div class="footer-news-title">Sed euismod magna sit amet</div>
									<div class="footer-news-date">Sep 24, 2018</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">						
						<div class="footer-contact">
							<h5>Meet Us</h5>
							<h5>Demo Tower<h5>
							<p>ABC City</p>
							<p>DEF Country</p>
							<p>
								<i class="fas fa-phone"></i>
								+12 3456 7899
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-credit">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="footer-copyright">@2018 Inspiration. All Rights Reserved.</div>
						<div class="footer-gotop"><i class="fas fa-angle-up fa-fw"></i></div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<script>var editor = new MediumEditor('.editable', {
		placeholder: {
			text: 'Enter content here, highlight to add style, you may also drag images within here',
			hideOnClick: true
		},
		imageDragging: true
	});</script>
	<script src="/javascripts/main.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnZHCNVuYH8lZSMZtuHzJ4677eUi6AE8w&callback=myMap"></script>
</body>
</html>