			<section class="home-team">
				<div class="page-titles text-center">
					<h1>MEET OUR TEAM</h1>
					<hr />
					<div class="container">
						<div class="row">
							<div class="col-12">
								<p>Vivamus dignissim feugiat odio sit amet venenatis. Aliquam ornare risus.</p>
							</div>
						</div>
					</div>					
				</div>
				<div class="container">
					<div class="row">
					
						<div class="col-lg-3 col-sm-6 col-12">
							<div class="card text-center">
								<img src="./images/home-about 1.jpeg" class="cart-img-top" alt="" />
								<div class="card-body">
									<div class="team-name">Alyssa Newton</div>
									<div class="team-pos">Node Manager</div>
									<div class="team-desc">Curabitur quis justo et mauris vestibulum sagittis non vitae justo</div>
									<div class="team-social">
										<div class="team-icon"><i class="fab fa-facebook-f fa-fw"></i></div>
										<div class="team-icon"><i class="fab fa-goodreads-g fa-fw"></i></div>
										<div class="team-icon"><i class="fab fa-twitter fa-fw"></i></div>
										<div class="team-icon"><i class="fab fa-linkedin-in fa-fw"></i></div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-lg-3 col-sm-6 col-12">
							<div class="card text-center">
								<img src="./images/home-about 2.jpeg" class="cart-img-top" alt="" />
								<div class="card-body">
									<div class="team-name">Klara Reyes</div>
									<div class="team-pos">Senior HTML</div>
									<div class="team-desc">Donec et arcu dignissim, bibendum sapien vitae, porta tellus.</div>
									<div class="team-social">
										<div class="team-icon"><i class="fab fa-facebook-f fa-fw"></i></div>
										<div class="team-icon"><i class="fab fa-goodreads-g fa-fw"></i></div>
										<div class="team-icon"><i class="fab fa-twitter fa-fw"></i></div>
										<div class="team-icon"><i class="fab fa-linkedin-in fa-fw"></i></div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-lg-3 col-sm-6 col-12">
							<div class="card text-center">
								<img src="./images/home-about 3.jpeg" class="cart-img-top" alt="" />
								<div class="card-body">
									<div class="team-name">Kingsley Rodgers</div>
									<div class="team-pos">Ruby Officer</div>
									<div class="team-desc">Praesent neque lectus, efficitur a justo et, ultricies imperdiet quam.</div>
									<div class="team-social">
										<div class="team-icon"><i class="fab fa-facebook-f fa-fw"></i></div>
										<div class="team-icon"><i class="fab fa-goodreads-g fa-fw"></i></div>
										<div class="team-icon"><i class="fab fa-twitter fa-fw"></i></div>
										<div class="team-icon"><i class="fab fa-linkedin-in fa-fw"></i></div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-lg-3 col-sm-6 col-12">
							<div class="card text-center">
								<img src="./images/home-about 4.jpeg" class="cart-img-top" alt="" />
								<div class="card-body">
									<div class="team-name">Irene Ballard</div>
									<div class="team-pos">Python Exec</div>
									<div class="team-desc">Etiam eget neque nec erat laoreet tincidunt eu eget est. Ut hendrerit sem at.</div>
									<div class="team-social">
										<div class="team-icon"><i class="fab fa-facebook-f fa-fw"></i></div>
										<div class="team-icon"><i class="fab fa-goodreads-g fa-fw"></i></div>
										<div class="team-icon"><i class="fab fa-twitter fa-fw"></i></div>
										<div class="team-icon"><i class="fab fa-linkedin-in fa-fw"></i></div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</section> <!-- .home-team -->