			<section class="home-stuff">
				<div class="page-titles text-center">
					<h1>STUFF WE DO</h1>
					<hr />
					<div class="container">
						<div class="row">
							<div class="col-12">
								<p>Mauris sagittis maximus venenatis Phasellus urna libero</p>
							</div>
						</div>
					</div>					
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="stuff-icon">
								<a href="#">
									<i class="fas fa-camera fa-fw"></i>
								</a>
							</div>
							<div class="stuff-text">
								<h4>Photography</h4>
								<p>Aliquam sit amet quam scelerisque quam laoreet tempor. Nulla scelerisque rutrum orci eu posuere. Praesent consequat, neque eget lobortis venenatis.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="stuff-icon">
								<a href="#">
									<i class="far fa-thumbs-up fa-fw"></i>
								</a>
							</div>
							<div class="stuff-text">
								<h4>Marketing</h4>
								<p>Vivamus bibendum nulla a ullamcorper scelerisque. Nullam ut pharetra tortor. Curabitur non condimentum enim. Nunc tristique dignissim elit nec dignissim.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="stuff-icon">
								<a href="#">
									<i class="fas fa-bullhorn fa-fw"></i>
								</a>
							</div>
							<div class="stuff-text">
								<h4>Event Management</h4>
								<p>Nunc efficitur, quam ac consequat viverra, dolor sapien sollicitudin enim, sed faucibus magna felis a sapien. Sed a finibus orci.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="stuff-icon">
								<a href="#">
									<i class="far fa-star fa-fw"></i>
								</a>
							</div>
							<div class="stuff-text">
								<h4>Star Gazing</h4>
								<p>Vestibulum blandit diam ut nisl sagittis, facilisis fermentum metus egestas. In nec lacus enim. Integer dictum risus vel risus mattis vulputate id nec justo.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="stuff-icon">
								<a href="#">
									<i class="fas fa-cogs fa-fw"></i>
								</a>
							</div>
							<div class="stuff-text">
								<h4>Software Support</h4>
								<p>Nam pellentesque quam non leo fringilla efficitur. Vestibulum ac ullamcorper massa, eget venenatis sem. Duis convallis, dui et rutrum viverra.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="stuff-icon">
								<a href="#">
									<i class="fab fa-google-plus-g fa-fw"></i>
								</a>
							</div>
							<div class="stuff-text">
								<h4>SEO Services</h4>
								<p>Praesent dictum dictum magna, ac pulvinar ex molestie tincidunt. Nam quam nibh, commodo eu purus at, vulputate vestibulum felis.</p>
							</div>
						</div>
					</div>
				</div>
			</section> <!-- .home-stuff -->