<section class="home-examples">
	<div class="page-titles text-center">
		<h1>EXCELLENT EXAMPLES</h1>
		<hr />
		<div class="container">
			<div class="row">
				<div class="col-12">
					<p>Aliquam vitae libero at enim pretium pretium ut id purus</p>
				</div>
			</div>
		</div>					
	</div>
	
	<div class="example-filter">
		<div class="example-filter-wrapper text-center">
			<a href="#">ALL</a>
			<a href="#">HTML</a>
			<a href="#">JAVASCRIPT</a>
			<a href="#">NODE</a>
			<a href="#">PHP</a>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 col-12">
				<div class="example-item">
					<img src="./images/example 1.jpeg" alt="" />
					<div class="example-title">HTML PROJECT</div>
					<div class="example-layer">
						<i class="far fa-eye fa-fw"></i>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-12">
				<div class="example-item">
					<img src="./images/example 2.jpeg" alt="" />
					<div class="example-title">CSS PROJECT</div>
					<div class="example-layer">
						<i class="far fa-eye fa-fw"></i>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-12">
				<div class="example-item">
					<img src="./images/example 3.jpeg" alt="" />
					<div class="example-title">JAVASCRIPT PROJECT</div>
					<div class="example-layer">
						<i class="far fa-eye fa-fw"></i>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-12">
				<div class="example-item">
					<img src="./images/example 4.jpeg" alt="" />
					<div class="example-title">C# PROJECT</div>
					<div class="example-layer">
						<i class="far fa-eye fa-fw"></i>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-12">
				<div class="example-item">
					<img src="./images/example 5.jpeg" alt="" />
					<div class="example-title">NODE PROJECT</div>
					<div class="example-layer">
						<i class="far fa-eye fa-fw"></i>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-12">
				<div class="example-item">
					<img src="./images/example 6.jpeg" alt="" />
					<div class="example-title">PHP PROJECT</div>
					<div class="example-layer">
						<i class="far fa-eye fa-fw"></i>
					</div>
			</div>
		</div>
	</div>
</section> <!-- .home-examples -->