		
			
			<section class="home-about">
				<div class="page-titles text-center">
					<h1>A LITTLE ABOUT US</h1>
					<hr />
					<div class="container">
						<div class="row">
							<div class="col-12">
								<p>Nam finibus, dui nec vestibulum ullamcorper, ut tempor lacus ipsum non est.</p>
							</div>
						</div>
					</div>					
				</div>
				
				<div class="home-about-text">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<p>Etiam quis efficitur erat. Nam gravida diam a lorem dignissim suscipit. Integer diam nisl, iaculis et dapibus placerat, feugiat quis odio. Nulla sed diam non dui cursus ultrices ut eget mi. Cras posuere faucibus tempor. Curabitur porttitor aliquet ipsum at imperdiet.</p>
								<p>Vestibulum semper, lectus ac ullamcorper consequat, arcu magna accumsan lorem, quis rutrum nisi leo at ipsum. Nulla et egestas dolor. Sed maximus sit amet nisi quis vulputate.</p>						
							</div>
						</div>
					</div>

				</div>
				
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-12">
							<div class="about-staff">
								<div class="about-staff-pic"><img src="./images/home-about 1.jpeg" alt="" /></div>
								<div class="home-about-desc">
									<div class="home-about-quote">Nam fermentum, eu aliquam quam tristique sed. Sed vestibulum, velit fermentum pellentesque semper.</div>
									<div class="home-about-person"> - Alyssa Newton @ Node Dept</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-12">
							<div class="about-staff">
								<div class="about-staff-pic"><img src="./images/home-about 2.jpeg" alt="" /></div>
								<div class="home-about-desc">
									<div class="home-about-quote">Nam finibus, dui nec vestibulum ullamcorper, tortor erat ornare augue, ut tempor lacus ipsum non est.</div>
									<div class="home-about-person"> - Klara Reyes @ HTML Dept</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-12">
							<div class="about-staff">
								<div class="about-staff-pic"><img src="./images/home-about 3.jpeg" alt="" /></div>
								<div class="home-about-desc">
									<div class="home-about-quote">Curabitur dictum, turpis quis commodo luctus, magna enim feugiat nibh, ut dictum orci lectus ut metus.</div>
									<div class="home-about-person"> - Kingsley Rodgers @ CSS Dept</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-12">
							<div class="about-staff">
								<div class="about-staff-pic"><img src="./images/home-about 4.jpeg" alt="" /></div>
								<div class="home-about-desc">
									<div class="home-about-quote">Proin eleifend lorem a urna pharetra, a luctus erat auctor. Nam eu cursus nisl. Integer ut malesuada arcu.</div>
									<div class="home-about-person"> - Irene Ballard @ React Dept</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section> <!-- .home-about -->