			<section class="home-skills">
				<div class="page-titles text-center">
					<h1>OUR SKILLS</h1>
					<hr />
					<div class="container">
						<div class="row">
							<div class="col-12">
								<p>Nullam a lorem ut nulla efficitur condimentum</p>
							</div>
						</div>
					</div>					
				</div>
				<div class="container">
					<div class="row">
						<div class="skills-boxes col-lg-3 col-md-6 col-12">
							<div class="skills-boxes-inner">
								<div class="skills-title">HTML</div>
								<div class="skills-desc">Integer cursus hendrerit libero dignissim suscipit</div>
							</div>
							<div class="percent-part">
								<div class="percent-box">
									<span data-percent="67">67</span>%
								</div>
								<div class="percent-bar">
									<div class="percent-bar-layer"></div>
								</div>
							</div>
						</div>
						<div class="skills-boxes col-lg-3 col-md-6 col-12">
							<div class="skills-boxes-inner">
								<div class="skills-title">NODE</div>
								<div class="skills-desc">Proin metus nibh, viverra ac sagittis d accumsan turpis</div>
							</div>
							<div class="percent-part">
								<div class="percent-box">
									<span data-percent="77">77</span>%
								</div>
								<div class="percent-bar">
									<div class="percent-bar-layer"></div>
								</div>
							</div>
						</div>
						<div class="skills-boxes col-lg-3 col-md-6 col-12">
							<div class="skills-boxes-inner">
								<div class="skills-title">JAVASCRIPT</div>
								<div class="skills-desc">Nam finibus, dui nec vestibulum vitae luctus justo</div>
							</div>
							<div class="percent-part">
								<div class="percent-box">
									<span data-percent="78">78</span>%
								</div>
								<div class="percent-bar">
									<div class="percent-bar-layer"></div>
								</div>
							</div>
						</div>
						<div class="skills-boxes col-lg-3 col-md-6 col-12">
							<div class="skills-boxes-inner">
								<div class="skills-title">BOOTSTRAP</div>
								<div class="skills-desc">Nam gravida diam a lorem Sed blandit ex sed </div>
							</div>
							<div class="percent-part">
								<div class="percent-box">
									<span data-percent="91">91</span>%
								</div>
								<div class="percent-bar">
									<div class="percent-bar-layer"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section> <!-- ./home-skills -->