<% include partials/header.ejs %>

	<main>
		<div class="about">

			<div class="page-head text-center">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="page-head-title">ABOUT US</div>
							<div class="page-head-short-desc">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc placerat, nisi ac maximus lacinia, justo nibh pharetra quam, eu malesuada neque mi mattis neque.</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="page-description">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<p>Aliquam ac mauris sed nisl eleifend tincidunt sit amet eget magna. Donec turpis ligula, tincidunt ut malesuada ac, tincidunt in dui. Donec eu volutpat mi, nec condimentum est. Aenean pulvinar commodo nisi, nec dapibus odio lobortis et. Phasellus a maximus nibh, at vestibulum ante. Integer odio justo, pharetra eget pretium at, placerat nec massa.</p>
							<p>Nulla facilisis, nulla eu varius efficitur, ipsum erat pharetra ex, sed congue dolor urna vel felis. Ut commodo eros vitae quam molestie auctor. Curabitur sed justo sit amet metus sollicitudin ullamcorper at ut est. In tincidunt, nibh in sagittis porta, ipsum lacus vehicula metus, sit amet molestie velit turpis eget mi.</p>
						</div>
					</div>
				</div>
			</div>
			<% include partials/home-about.ejs %>
			<% include partials/home-team.ejs %>
		</div> /* .about */
	</main>

<% include partials/footer.ejs %>