<% include partials/header.ejs %>

	<main>
	
		<div class="contact-us">
			<div class="page-head text-center">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="page-head-title">GET IN TOUCH</div>
							<div class="page-head-short-desc">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc placerat, nisi ac maximus lacinia, justo nibh pharetra quam, eu malesuada neque mi mattis neque.</div>
						</div>
					</div>
				</div>
			</div>

			<% include partials/home-map.ejs %>
			<% include partials/home-contact.ejs %>	

	</main>

<% include partials/footer.ejs %>