<% include partials/header.ejs %>

	<section class="home-top-carousel">
		<div class="home-top-slick">
			<div class="slick-items">
				<img src="./images/carousel-bg-1.jpg" alt="" />
			</div>
			<div class="slick-items">
				<img src="./images/carousel-bg-2.jpg" alt="" />
			</div>
			<div class="slick-items">
				<img src="./images/carousel-bg-3.jpg" alt="" />
			</div>
		</div>
	</section> <!-- .home-top-carousel -->	
	
	<main>

		<div class="home">
			
			<section class="home-top-layer">
				<div class="home-carousel-text text-center">
					<img src="./images/logo.png" alt="" />
					<h1>Maecenas luctus finibus imperdiet</h1>
					<h3>Praesent consequat neque eget lobortis</h3>
					<a href="#">READ MORE</a>
				</div>
			</section> <!-- .home-top-layer -->
			
			<% include partials/home-stuff.ejs %>
			<% include partials/home-skill.ejs %>
			
			<section class="home-quote">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="home-quote-carousel">
							
								<div class="home-quote-item">
									<div class="home-quote-img">
										<img src="./images/quote 1.jpeg" alt="" />
									</div>
									<div class="home-quote-text">
										<div class="home-quote-quote">
											<i class="fas fa-quote-left"></i>
											<p>Curabitur dictum, turpis quis commodo luctus, magna enim feugiat nibh, ut dictum orci lectus ut metus.</p>
										</div>
										<div class="home-quote-name">-Ansh Jordan</div>
									</div>
									
								</div>
								
								<div class="home-quote-item">
									<div class="home-quote-img">
										<img src="./images/quote 2.jpg" alt="" />
									</div>
									<div class="home-quote-text">
										<div class="home-quote-quote">
											<i class="fas fa-quote-left"></i>
											<p>Suspendisse id accumsan turpis, vitae luctus justo. Sed blandit, ex sed pellentesque sodales.</p>									
										</div>
										<div class="home-quote-name">-Henry Hubbard</div>
									</div>
								</div>														
								
								<div class="home-quote-item">
									<div class="home-quote-img">
										<img src="./images/quote 3.jpeg" alt="" />
									</div>
									<div class="home-quote-text">
										<div class="home-quote-quote">
											<i class="fas fa-quote-left"></i>
											<p>Aliquam vitae libero at enim pretium pretium ut id purus. Phasellus eget sollicitudin tellus.</p>								
										</div>
										<div class="home-quote-name">-Clarke Kirk</div>
									</div>
								</div>
								
							</div> <!-- .home-quote-carousel -->
						</div>
					</div>
				</div>
			</section> <!-- .home-quote -->
			
			<% include partials/home-about.ejs %>
			
			<% include partials/home-team.ejs %>
			
			<section class="home-num">
				<div class="container">
					<div class="row">
					
						<div class="col-lg-3 col-sm-6 col-12">
							<div class="num-item">
								<div class="num-icon"><i class="far fa-clock fa-fw"></i></div>
								<div class="num-num" data-num="359">1</div>
								<div class="num-text">FAST</div>
							</div>
						</div>
						
						<div class="col-lg-3 col-sm-6 col-12">
							<div class="num-item">
								<div class="num-icon"><i class="far fa-lightbulb fa-fw"></i></div>
								<div class="num-num" data-num="443">443</div>
								<div class="num-text">IDEA</div>
							</div>
						</div>
						
						<div class="col-lg-3 col-sm-6 col-12">
							<div class="num-item">
								<div class="num-icon"><i class="fas fa-chart-line fa-fw"></i></div>
								<div class="num-num" data-num="234">234</div>
								<div class="num-text">RAISE</div>
							</div>
						</div>
						
						<div class="col-lg-3 col-sm-6 col-12">
							<div class="num-item">
								<div class="num-icon"><i class="fas fa-box-open fa-fw"></i></div>
								<div class="num-num" data-num="401">401</div>
								<div class="num-text">MORE</div>
							</div>
						</div>
						
					</div>
				</div>
			</section> <!-- .home-num -->

			<% include partials/home-examples.ejs %>
			
			<section class="client-quotes text-center">
				<div class="client-header">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<h1>WHAT OUR CLIENTS SAID</h1>
								<p>Proin metus nibh, viverra ac sagittis eu, molestie nec mi.</p>
							</div>
						</div>
					</div>
				</div> <!-- client-header -->
				
				<div class="client-carousel">
					<div class="container">
						<div class="row">
							<div class="col-12">						
								<div class="client-carousel-wrapper">
								
									<div class="client-item">
										<div class="client-img">
											<img src="./images/quote 1.jpeg" alt="" />
										</div>
										<div class="client-text">
											<div class="client-quote"><i class="fas fa-quote-left fa-fw"></i>Integer diam nisl, iaculis et dapibus placerat, feugiat quis odio. id condimentum dui facilisis ac. Suspendisse id accumsan turpis, vitae luctus justo.</div>
											<div class="client-name">Fatma Haas</div>
										</div>
									</div>
									
									<div class="client-item">
										<div class="client-img">
											<img src="./images/quote 2.jpg" alt="" />
										</div>
										<div class="client-text">
											<div class="client-quote"><i class="fas fa-quote-left fa-fw"></i>Nulla sed diam non dui cursus ultrices ut eget mi. Sed blandit, ex sed pellentesque sodales, sem ligula molestie arcu, at efficitur ante massa ac dui.</div>
											<div class="client-name">Poppie Bates</div>
										</div>
									</div>
									
									<div class="client-item">
										<div class="client-img">
											<img src="./images/quote 3.jpeg" alt="" />
										</div>
										<div class="client-text">
											<div class="client-quote"><i class="fas fa-quote-left fa-fw"></i>Cras posuere faucibus tempor. Curabitur porttitor aliquet ipsum at imperdiet. Vestibulum in velit ligula. Proin id facilisis turpis. Orci varius natoque penatibus et magnis dis.</div>
											<div class="client-name">Carolyn Blaese</div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>				
				</div>
				
			</section> <!-- client-quote -->
			
			<section class="home-blog">
				<div class="page-titles text-center">
					<h1>FROM THE BLOG</h1>
					<hr />
					<div class="container">
						<div class="row">
							<div class="col-12">
								<p>Etiam quis efficitur erat. Nam gravida diam a lorem dignissim suscipit.</p>
							</div>
						</div>
					</div>					
				</div>
				<div class="container">
					<div class="row">
					
						<div class="col-lg-4 col-md-6 col-12">
							<div class="home-blog-single card">
								<img src="./images/example 1.jpeg" class="card-img-top" />
								<div class="card-body">
									<div class="card-title">Curabitur lobortis arcu sit</div>
									<div class="home-blog-misc">
										<div class="home-blog-author">
											<i class="fas fa-user fa-fw"></i>
											<div class="home-blog-byline home-blog-misc-value">By <span class="home-blog-authorname">Aniela Delaney</span></div>
										</div>
										<span class="pipe">|</span>
										<div class="home-blog-date">
											<i class="far fa-clock fa-fw"></i>
											<time>Sep 24, 2018</time>
										</div>
									</div>
									<p class="home-blog-excerpt">Vestibulum egestas dolor et leo molestie, eu tempor ex pellentesque. Nullam et odio auctor nunc ultrices gravida eu a ligula. Etiam pellentesque, ex in tempus vulputate.</p>
									<div class="read-more-btn"><a href="">READ MORE</a></div>
								</div>
							</div>
						</div>
						
						<div class="col-lg-4 col-md-6 col-12">
							<div class="home-blog-single card">
								<img src="./images/example 2.jpeg" class="card-img-top" />
								<div class="card-body">
									<div class="card-title">cursus consectetur tinci</div>
									<div class="home-blog-misc">
										<div class="home-blog-author">
											<i class="fas fa-user fa-fw"></i>
											<div class="home-blog-byline">By <span class="home-blog-authorname">Nelly Dejesus</span></div>
										</div>
										<span class="pipe">|</span>
										<div class="home-blog-date">
											<i class="far fa-clock fa-fw"></i>
											<time>Sep 24, 2018</time>
										</div>
									</div>
									<p class="home-blog-excerpt">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi eget condimentum nunc. Ut quis lorem sit amet lorem sagittis feugiat sit amet id ex.</p>
									<div class="read-more-btn"><a href="">READ MORE</a></div>
								</div>
							</div>
						</div>
						
						<div class="col-lg-4 col-md-6 col-12">
							<div class="home-blog-single card">
								<img src="./images/example 3.jpeg" class="card-img-top" />
								<div class="card-body">
									<div class="card-title">ullamcorper nec mauris</div>
									<div class="home-blog-misc">
										<div class="home-blog-author">
											<i class="fas fa-user fa-fw"></i>
											<div class="home-blog-byline">By <span class="home-blog-authorname">Arfa Thorpe</span></div>
										</div>
										<span class="pipe">|</span>
										<div class="home-blog-date">
											<i class="far fa-clock fa-fw"></i>
											<time>Sep 23, 2018</time>
										</div>
									</div>
									<p class="home-blog-excerpt">Aliquam efficitur turpis quis felis suscipit, a sollicitudin ex ornare. Donec ut nisl nibh. Cras vulputate blandit volutpat. Sed nec volutpat felis. Suspendisse ullamcorper felis vel pharetra faucibus.</p>
									<div class="read-more-btn"><a href="">READ MORE</a></div>
								</div>
							</div>
						</div>
						
						<div class="col-lg-4 col-md-6 col-12">
							<div class="home-blog-single card">
								<img src="./images/example 4.jpeg" class="card-img-top" />
								<div class="card-body">
									<div class="card-title">ullamcorper et sapien</div>
									<div class="home-blog-misc">
										<div class="home-blog-author">
											<i class="fas fa-user fa-fw"></i>
											<div class="home-blog-byline">By <span class="home-blog-authorname">Maya Spears</span></div>
										</div>
										<span class="pipe">|</span>
										<div class="home-blog-date">
											<i class="far fa-clock fa-fw"></i>
											<time>Sep 22, 2018</time>
										</div>
									</div>
									<p class="home-blog-excerpt">Ut et dolor gravida, hendrerit dolor. Etiam tincidunt facilisis orci id cursus. Donec dignissim suscipit ex vel interdum. Sed eu neque urna. Quisque mattis lorem sit amet turpis placerat elementum.</p>
									<div class="read-more-btn"><a href="">READ MORE</a></div>
								</div>
							</div>
						</div>
						
						<div class="col-lg-4 col-md-6 col-12">
							<div class="home-blog-single card">
								<img src="./images/example 5.jpeg" class="card-img-top" />
								<div class="card-body">
									<div class="card-title">Aenean id ex ut turpis</div>
									<div class="home-blog-misc">
										<div class="home-blog-author">
											<i class="fas fa-user fa-fw"></i>
											<div class="home-blog-byline">By <span class="home-blog-authorname">Kyal Tierney</span></div>
										</div>
										<span class="pipe">|</span>
										<div class="home-blog-date">
											<i class="far fa-clock fa-fw"></i>
											<time>Sep 21, 2018</time>
										</div>
									</div>
									<p class="home-blog-excerpt">Praesent a nulla in ex. Ut et dolor gravida, hendrerit dolor. Pellentesque luctus arcu vel purus dignissim, eu viverra turpis vestibulum. Vestibulum ultricies eros sed malesuada mollis.</p>
									<div class="read-more-btn"><a href="">READ MORE</a></div>
								</div>
							</div>
						</div>
						
						<div class="col-lg-4 col-md-6 col-12">
							<div class="home-blog-single card">
								<img src="./images/example 6.jpeg" class="card-img-top" />
								<div class="card-body">
									<div class="card-title">scelerisque blandit at non</div>
									<div class="home-blog-misc">
										<div class="home-blog-author">
											<i class="fas fa-user fa-fw"></i>
											<div class="home-blog-byline">By <span class="home-blog-authorname">Marta Moon</span></div>
										</div>
										<span class="pipe">|</span>
										<div class="home-blog-date">
											<i class="far fa-clock fa-fw"></i>
											<time>Sep 20, 2018</time>
										</div>
									</div>
									<p class="home-blog-excerpt">Etiam commodo nulla laoreet neque porttitor, nec efficitur libero ornare. Proin malesuada at metus vel rutrum. Nunc ultrices tellus fermentum, posuere eros in, fermentum nunc.</p>
									<div class="read-more-btn"><a href="">READ MORE</a></div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</section> <!-- .home-blog -->
			
			<section class="home-plan">
				<div class="page-titles text-center">
					<h1>FROM THE BLOG</h1>
					<hr />
					<div class="container">
						<div class="row">
							<div class="col-12">
								<p>Etiam quis efficitur erat. Nam gravida diam a lorem dignissim suscipit.</p>
							</div>
						</div>
					</div>					
				</div>
				<div class="container">
					<div class="row">
					
						<div class="col-lg-3 col-md-6 col-12">
							<div class="plan-wrapper text-center">
								<div class="plan-name">Basic</div>
								<div class="plan-price">$10/mo</div>
								<div class="plan-subtle">5GB Storage</div>
								<div class="plan-subtle">1GB Ram</div>
								<div class="plan-subtle">400GB Bandwidth</div>
								<div class="plan-subtle">10 Email Addresses</div>
								<div class="plan-subtle">Forum Support</div>
								<a href="">SIGN UP</a>
							</div>
						</div>
						
						<div class="col-lg-3 col-md-6 col-12">
							<div class="plan-wrapper text-center plan-wrapper-discount">
								<div class="plan-name">Standard</div>
								<div class="plan-price">$20/mo</div>
								<div class="plan-subtle">5GB Storage</div>
								<div class="plan-subtle">1GB Ram</div>
								<div class="plan-subtle">400GB Bandwidth</div>
								<div class="plan-subtle">10 Email Addresses</div>
								<div class="plan-subtle">Forum Support</div>
								<a href="">SIGN UP</a>
							</div>
						</div>
						
						<div class="col-lg-3 col-md-6 col-12">
							<div class="plan-wrapper text-center">
								<div class="plan-name">Advanced</div>
								<div class="plan-price">$30/mo</div>
								<div class="plan-subtle">5GB Storage</div>
								<div class="plan-subtle">1GB Ram</div>
								<div class="plan-subtle">400GB Bandwidth</div>
								<div class="plan-subtle">10 Email Addresses</div>
								<div class="plan-subtle">Forum Support</div>
								<a href="">SIGN UP</a>
							</div>
						</div>
						
						<div class="col-lg-3 col-md-6 col-12">
							<div class="plan-wrapper text-center">
								<div class="plan-name">Mighty</div>
								<div class="plan-price">$40/mo</div>
								<div class="plan-subtle">5GB Storage</div>
								<div class="plan-subtle">1GB Ram</div>
								<div class="plan-subtle">400GB Bandwidth</div>
								<div class="plan-subtle">10 Email Addresses</div>
								<div class="plan-subtle">Forum Support</div>
								<a href="">SIGN UP</a>
							</div>
						</div>
						
					</div>
				</div>
			</section> <!-- .home-plan -->
			
			<% include partials/home-map.ejs %>
			<% include partials/home-contact.ejs %>
		</div>
	</main>
	
<% include partials/footer.ejs %>
